################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Optimized_Word2Vec/2VecRunner/word2vecLib/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Optimized_Word2Vec/2VecRunner/word2vecLib/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Optimized_Word2Vec/2VecRunner/word2vecLib/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Optimized_Word2Vec/2VecRunner/word2vecLib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Optimized_Word2Vec/2VecRunner/word2vecLib/obj/Debug/CoreCompileInputs.cache
/Optimized_Word2Vec/2VecRunner/2VecRunner/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Optimized_Word2Vec/2VecRunner/2VecRunner/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Optimized_Word2Vec/2VecRunner/2VecRunner/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Optimized_Word2Vec/2VecRunner/2VecRunner/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Optimized_Word2Vec/2VecRunner/2VecRunner/obj/Debug/CoreCompileInputs.cache
/Optimized_Word2Vec/2VecRunner/2VecRunner/Corpus.txt
/Optimized_Word2Vec/2VecRunner/.vs/2VecRunner/v15/.suo
/Optimized_Word2Vec/2VecRunner/packages/CommandLineParser.1.9.71/readme.txt
/Optimized_Word2Vec/2VecRunner/packages/CommandLineParser.1.9.71/lib/net45/CommandLine.xml
/Optimized_Word2Vec/2VecRunner/packages/CommandLineParser.1.9.71/lib/net45/CommandLine.dll
/Optimized_Word2Vec/2VecRunner/packages/CommandLineParser.1.9.71/lib/net40/CommandLine.xml
/Optimized_Word2Vec/2VecRunner/packages/CommandLineParser.1.9.71/lib/net40/CommandLine.dll
/Optimized_Word2Vec/2VecRunner/packages/CommandLineParser.1.9.71/lib/net35/CommandLine.xml
/Optimized_Word2Vec/2VecRunner/packages/CommandLineParser.1.9.71/lib/net35/CommandLine.dll
/Optimized_Word2Vec/2VecRunner/packages/CommandLineParser.1.9.71/CommandLineParser.1.9.71.nupkg
/Optimized_Word2Vec/2VecRunner/2VecRunner/obj/Debug/2VecRunner.pdb
/Optimized_Word2Vec/2VecRunner/2VecRunner/obj/Debug/2VecRunner.exe
/Optimized_Word2Vec/2VecRunner/2VecRunner/obj/Debug/2VecRunner.csprojResolveAssemblyReference.cache
/Optimized_Word2Vec/2VecRunner/2VecRunner/obj/Debug/2VecRunner.csproj.FileListAbsolute.txt
/Optimized_Word2Vec/2VecRunner/2VecRunner/bin/Debug/word2vecLib.pdb
/Optimized_Word2Vec/2VecRunner/2VecRunner/bin/Debug/word2vecLib.dll
/Optimized_Word2Vec/2VecRunner/2VecRunner/bin/Debug/CommandLine.xml
/Optimized_Word2Vec/2VecRunner/2VecRunner/bin/Debug/CommandLine.dll
/Optimized_Word2Vec/2VecRunner/word2vecLib/bin/Debug/word2vecLib.pdb
/Optimized_Word2Vec/2VecRunner/word2vecLib/bin/Debug/word2vecLib.dll
/Optimized_Word2Vec/2VecRunner/word2vecLib/bin/Debug/CommandLine.xml
/Optimized_Word2Vec/2VecRunner/word2vecLib/bin/Debug/CommandLine.dll
/Optimized_Word2Vec/2VecRunner/packages/Microsoft.Extensions.CommandLineUtils.1.1.1/Microsoft.Extensions.CommandLineUtils.1.1.1.nupkg
/Optimized_Word2Vec/2VecRunner/packages/Microsoft.Extensions.CommandLineUtils.1.1.1/lib/netstandard1.3/Microsoft.Extensions.CommandLineUtils.xml
/Optimized_Word2Vec/2VecRunner/packages/Microsoft.Extensions.CommandLineUtils.1.1.1/lib/netstandard1.3/Microsoft.Extensions.CommandLineUtils.dll
/Optimized_Word2Vec/2VecRunner/packages/Microsoft.Extensions.CommandLineUtils.1.1.1/lib/net451/Microsoft.Extensions.CommandLineUtils.xml
/Optimized_Word2Vec/2VecRunner/packages/Microsoft.Extensions.CommandLineUtils.1.1.1/lib/net451/Microsoft.Extensions.CommandLineUtils.dll
/Optimized_Word2Vec/2VecRunner/packages/CommandLineParser.Unofficial.2.0.275/lib/netstandard1.5/CommandLineParser.Unofficial.dll
/Optimized_Word2Vec/2VecRunner/packages/CommandLineParser.Unofficial.2.0.275/lib/net45/CommandLineParser.Unofficial.dll
/Optimized_Word2Vec/2VecRunner/packages/CommandLineParser.Unofficial.2.0.275/lib/net40/CommandLineParser.Unofficial.dll
/Optimized_Word2Vec/2VecRunner/packages/CommandLineParser.Unofficial.2.0.275/CommandLineParser.Unofficial.2.0.275.nupkg
/Optimized_Word2Vec/2VecRunner/word2vecLib/obj/Debug/word2vecLib.pdb
/Optimized_Word2Vec/2VecRunner/word2vecLib/obj/Debug/word2vecLib.dll
/Optimized_Word2Vec/2VecRunner/word2vecLib/obj/Debug/word2vecLib.csprojResolveAssemblyReference.cache
/Optimized_Word2Vec/2VecRunner/word2vecLib/obj/Debug/word2vecLib.csproj.FileListAbsolute.txt
/Optimized_Word2Vec/2VecRunner/2VecRunner/bin/Debug/Corpus.txt
/Optimized_Word2Vec/2VecRunner/2VecRunner/bin/Debug/2VecRunner.exe
/Optimized_Word2Vec/2VecRunner/2VecRunner/bin/Debug/2VecRunner.exe.config
/Optimized_Word2Vec/2VecRunner/2VecRunner/bin/Debug/2VecRunner.pdb
/Optimized_Word2Vec/2VecRunner/2VecRunner/bin/Debug/ample
/Optimized_Word2Vec/2VecRunner/2VecRunner/bin/Debug/utput
/Optimized_Word2Vec/2VecRunner/2VecRunner/bin/Debug/Vectors.bin
